pandas==0.25.2
numpy==1.17.2
docopt==0.6.2
requests==2.20.0
tqdm==4.41.1
selenium==3.141.0
altair==4.0.1
scikit-learn==0.22.1
matplotlib==3.1.2
plotly-orca==1.2.1
plotly==4.3.0
selenium==3.141.0
termcolor==1.1.0
ChromeDriver==79.0.3945.36